html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Full page container */
.login-container {
  height: 95vh;     /* Full viewport height */
  width: 100vw;      /* Full viewport width */
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("p1.jpg");
  background-size: cover;      /* Cover whole screen */
  background-position: center; /* Center image */
  background-repeat: no-repeat;
  padding: 20px; /* reduce padding so box stays centered */
}
/* Full page container */
/* .login-container {
  height: 200%;
  width: 200%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:url("p1.jpg");
  background-size:contain;  /* center image */
  /* background-repeat: no-repeat;  */
  /* padding: 100px; */
/* } */ */

/* Card Box */
.login-box {
  background: #ffffff;
  padding: 60px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 420px;
  text-align: center;
  animation: fadeIn 0.6s ease-in-out;
}

/* Title */
.login-title {
  font-size: 2rem;
  font-weight: bold;
  color: #064e3b;
  margin-bottom: 05px;
}

/* Subtitle */
.login-subtitle {
  color: #065f46;
  margin-bottom: 25px;
  font-size: 1rem;
}

/* Form */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.form-group {
  text-align: left;
}

.input-field {
  width: 100%;
  padding: 14px 16px;
  border: 1px solid #d1d5db;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
  transition: all 0.3s ease;
  align-content:flex-start;
}

.input-field:focus {
  border-color: #10b981;
  box-shadow: 0 0 6px rgba(16, 185, 129, 0.5);
}

/* Button */
.btn-login {
  padding: 14px;
  background: linear-gradient(to right, #059669, #047857);
  border: none;
  border-radius: 10px;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease, background 0.3s ease;
  box-shadow: 0 4px 10px rgba(5, 150, 105, 0.4);
}

.btn-login:hover {
  background: linear-gradient(to right, #047857, #065f46);
  transform: scale(1.05);
}

/* Signup Text */
.signup-text {
  margin-top: 20px;
  color: #065f46;
  font-size: 14px;
}

.signup-link {
  color: #059669;
  font-weight: 600;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
